[submodule "avrlib"]
	path = firmware/lib/avrlib
	url = https://github.com/pichenettes/avril.git
[submodule "tools"]
	path = firmware/tools
	url = https://github.com/pichenettes/avril-firmware_tools.git
